/cargo-home/
/cargo-vendor/
/prebuilt-web/
/.debhelper/
/debhelper-build-stamp
/files
/source/include-binaries
/*.debhelper.log
/*.debhelper
/*.substvars
/berrykeep-client/
/berrykeep-rendezvous-service/
/berrykeep-server-node/
/berrykeep-server-node-map-tools/
/berrykeep-client/
/berrykeep-rendezvous-service/
/berrykeep-server-node/
/berrykeep-server-node-map-tools/
